.main {
  background: #f4f5f7;
  padding: 0 20rem;
  height: 67.6rem;
  z-index: -1;
  /* transform: translateY(-30vh); */
  margin-top: -23rem;
}

.main__wrapText {
  padding-top: 9.6rem;
}

.main__wrapText h1 {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -1;
}

.main__wrapText p {
  font-family: Public Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: var(--tertiary-color);
  width: 63.5rem;
}

.card__wrap {
  margin-top: 7.2rem;
  display: flex;
  justify-content: space-between;
}
