.header {
  height: 100vh;
}

.header__wrap {
  margin-top: 17rem;
  padding: 0 20rem;
}

.header__wrap h1 {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 5.6rem;
  width: 40rem;
  letter-spacing: -1;
}

.header__wrap p {
  font-family: Public Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  letter-spacing: -1;
  color: var(--tertiary-color);
  width: 44.7rem;
  margin: 2.4rem 0 3.6rem 0;
  line-height: 2.8rem;
}

.header__wrapImage .imgBack {
  position: absolute;
  left: 778px;
  top: -180px;
  z-index: -2;
}

.header__wrapImage img {
  left: 823px;
  top: -42px;
  position: absolute;
  z-index: 1;
}

@media (max-width: 700px) {
  .header {
    height: 80vh;
  }
  .header__wrap {
    padding: 33.3rem 2.4rem 0 2.4rem;
    text-align: center;
  }

  .header__wrap h1 {
    font-size: 4rem;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
  }

  .header__wrap .btn_wrap {
    text-align: center;
    margin: 0 8rem;
  }

  .header__wrap p {
    width: 32.7rem;
    font-size: 1.5rem;
  }

  .header__wrapImage .imgBack {
    left: -50%;
    top: -60%;
    width: 63rem;
  }

  .header__wrapImage img {
    left: 24px;
    top: -57px;
    width: 40.7rem;
  }
}
